
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Contact – NewsDigest Bot</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"/>
  <link rel="stylesheet" href="/static/styles/contact.css" />
</head>
<body class="dark-theme">
  <section class="contact-wrapper">
    <div class="form-group"> 
    <section class="contact-wrapper">
    <div class="form-section">
      <!-- Add this inside your HTML body, at the top of your page -->
    <div><a href="{{ url_for('home') }}" class="btn btn-link" style="text-decoration: none;">
      &#171;Back
    </a></div><br>

      <h2>Convert Decimal to Binary</h2>
      <form method="POST" action="dec_bin">
        <div class="form-group">
          <label for="fullname">Enter Decimal Number (max value 255)</label>
          <input type="text" id="decimalInput" name="decimalInput" placeholder="Enter Decimal Value.." required>
        </div>
        <div class="centered-btn-wrapper">
          <button type="submit" class="btn">Convert Value Entered to Binary</button>
          <br><br>
        </div>
        <div class="form-group mt-3">
          <!-- Display error or success message -->
          {% if message %}
            <div class="alert alert-info">{{ message }}</div>
          {% endif %}

          <!--Show binary value if conversion is successful -->
          {% if binary_value %}
            <label>Binary Equivalent:</label>
            <input type="text" class="form-control" value="{{ binary_value }}" readonly>
          {% endif %}
        </div>
      </form>
    </div>
  </section>
  </section>
</body>
</html>
